.p1 { margin-top: 0px; margin-right: 630px; margin-bottom: 0px; margin-left: 630px; }
.p2 { margin-top: 0px; margin-right: 570px; margin-bottom: 0px; margin-left: 570px; }
.p3 { margin-top: 0px; margin-right: 500px; margin-bottom: 0px; margin-left: 500px; }
.p4 { margin-top: 0px; margin-right: 440px; margin-bottom: 0px; margin-left: 440px; }
.p5 { margin-top: 0px; margin-right: 660px; margin-bottom: 0px; margin-left: 660px; }